
/* Nav Bar styling */

nav {
  display: flex; 
  justify-content: space-between; 
  margin-bottom: 1rem; 

  /* Bottom Border styling */
  border-bottom-width: 1px; 
  border-bottom-style: solid; 
  border-bottom-color: oklch(80% 3% 200);
}


nav ul {
  display: contents; 
}

nav ul li {
  display: contents;
}

nav a {
  text-decoration: none; 
  color: inherit; 
  text-align: center; 

  padding: 0.5em;
  margin-bottom: ;
  display: inline-block; 
  flex: 1; 
}

/* Current link stying */
nav a.current {
  font-weight: bold; 
  color: #007BFF; 
  border-bottom: 0.4em solid oklch(80% 3% 200); 
  padding-bottom: 0.2rem;
}

/* Hover effect */
nav a:hover {
  background-color: #c7dffd ; 
  border-radius: 5px; 
}

/* Body styling */
body {
    
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    padding: 1rem;
  }

  /* IMG styling */
  .responsive-img {
    max-width: 500px; 
    height: auto;
    display: block; 
    margin: 1rem auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}